@model Rdio.Mvc.Core.Domain.Music


@{
    ViewBag.Title = "Edit - Music";
}


<div class="page-header">
    <h1 class="title">Music</h1>
    <ol class="breadcrumb">
        <li class="active">This is a quick overview of edit music</li>
    </ol>
</div>
